* {
    box-sizing: border-box;
}

body{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    line-height: 21px;
    font-family: helvetica ; 
    background-color: #eee;
}

h1, h2 {
    font-weight: 100;
}
h2 {
    border-bottom: solid 3px #ccc;
    background-color: white;
    padding-left: 3px;
    padding-top: 10px;
}

p {
    text-align: justify;
}

 