/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  
  }
  body{
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(252, 252, 252);

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* XXXXXXXXXXXXXXXXXXXXXX HOVER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

  header nav a:hover{
	color: rgb(251, 138, 154);
}
header nav a:hover .fa {
	color: rgb(45, 85, 111);

}
.container + section:hover article{
	opacity: 0.5;
}

.container + section article:hover{
	opacity: 1;
}
/* XXXXXXXXXXXXXXXXXXXXXX GLOBAL XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.background ~ section, .container ~ section, .container, .boxm, .contact {
	max-width: 88%;
	margin: 0 auto;
}

h1,h2,h3, header nav a, .background p, footer nav a,.container + section article h4.price,.container + section article a {
	font-family: 'Candal', sans-serif;
}
.background ~ section, .container ~ section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	padding: 0px 0px;

	}
	
	h1 {
		font-size: 4.7em;
		color: white;
		padding: 6% 0px 2% 0px;
	
	}
	h2 {
		width: 100%;
		margin: 40px 0px;
		text-align: center;
		font-size: 2.9em;
		border: 1px dashed black;
		border-bottom: none;
		padding: 40px 0px 50px 0px;
	}

	h3{
		font-size: 1.8em;
	}

	h3 i.fa {
		display: block;
		font-size: 2.5em;
		margin-bottom: 30px;
	}

	h4.price {
		margin: 35px 0px;
		text-align: center;
		font-size: 2em;
		font-weight: 600;
	}
	
	header nav a, h2 {
		color: rgb(45, 85, 111);
	} 

	
	
	.active i.fa{
		color:rgb(0, 29, 81);
	}

	p, .container + section article h4.price, address, abbr, li {
		color: rgb(102, 102, 102);
	
	}

	header nav i.fa, h3, h4.price, .active {
		color: rgb(251, 138, 154);
	
	}
	address a, .contact i.fa {
		color:rgb(251, 138, 155);
	
	}

	.container + section article p, footer nav a,header nav i.fa  {
	font-size: 1.5em;

	}

	p, address {
		font-size: 1.6em;
	
	}

/* XXXXXXXXXXXXXXXXXXXXXX HEADER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

  header {
	  margin: 60px 0px 65px 0px;
  }

  header nav  {
      display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-around;
  }
  header nav a {
	  text-decoration: none;
	  font-size: 2.2em;

  }

header nav i.fa {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}


span {
	text-transform: uppercase;
}

p{
	text-align: left;
	line-height: 1.8em;
	margin-top: 15px;
}




/* XXXXXXXXXXXXXXXXXXXXXX BACKGROUND XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



.background {
	background-image: url("../img/background.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-position: center;
	padding: 10% 0%;

}
.background p {
	color: white;
	font-size: 3em;
	line-height: 2.5em;
	margin: 0 70px;
	text-align: center;

}


input{
	width: 100%;
	padding: 30px 0px;
	margin-bottom: 40px;
	background: rgb(251, 138, 154);
	border: none;
	padding-left: 30px;
	font-size: 1.7em;
	color: white;

}



::placeholder{
	color:rgb(251, 201, 204);
	font-size: 1.4em;
	padding-left: 60px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 4px;

}

/* XXXXXXXXXXXXXXXXXX NOTRE SOLUTION XXXXXXXXXXXXXXXXXXXXXXXX */

main{
	margin-bottom: 50px;
}

	

	article{
		text-align: center;
		width: 33%;
		
	}
	.background ~ section  article p {
		padding-left: 30px;
		font-weight: 500;

	}
	
	
	



/* XXXXXXXXXXXXXXXXXX FOOTER XXXXXXXXXXXXXXXXXXXXXXXX */

footer {
	background-color: rgb(32, 62, 77);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 90px;
	justify-content: center;



}
footer nav {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}

footer nav a {
	
	text-decoration: none;
	color: white;

}

/* XXXXXXXXXXXXXXXXXXXXXXXXX  AUTRE PAGE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


.container article {
	width: 100%;
	margin: 0 auto;
}

.container article p {
	padding: 0px 40px;
}

.container + section {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;

}
.container + section article {
	border: dashed 1px;
	width: 30%;
	padding: 30px 8px 10px 8px;



}

.container + section article p {
	text-align: center;
	margin-bottom: 25px;
}
.container + section article h3 {
	color: white;
	background-color: rgb(33, 62, 79);
	padding: 30px 0;

}
li{
	text-align: left;
	font-size: 1.4em;
	margin: 10px 0px 0px 25px;
	line-height: 3rem;
}
li::before{
	content: "○ ";
}


.container + section article h4.price {
	
	font-weight: bolder;
}

.container + section article a {
	display: block;
	text-decoration: none;
	background: rgb(251, 139, 154);
	color: white;
	font-size: 1.7em;
	padding: 15px 0px;
	margin-top: 20px;

}



/* XXXXXXXXXXXXXXXXXXXXXXXXX PAGE DEDIE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.bloc {
	align-self: flex-start;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXX CONTACT XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.contact{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
}


section.contact {
	margin-bottom: 50px;
}


address {
	margin: 0px 20px;
	margin-bottom: 10px;
	font-weight: 500;

}


address a {
	text-decoration: none;

}



article:last-child address{
font-style: italic;
}

.contact i.fa {
	border-bottom: 1px dashed;
	padding: 30px 25px;
	display: block;
	font-size: 3em;
	margin-bottom: 20px;
}
strong {
	font-weight: 600;
	

}
iframe{
	width: 100%;
	height: 500px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXX MEDIA QUERIES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 1000px) {

	header nav {
		flex-direction: column;
	}
	header nav a {
		margin: 20px 0px;
	}
	
header nav img{
	padding-bottom: 30px;
}
	
.background ~ section, .container ~ section{
	flex-direction: column;
	align-items: center;
}

article {
	width: 100%;
	margin-bottom: 50px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXX FOOTER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

footer nav {
	flex-direction: column;
	align-items: center;
}
footer nav a {
	padding-bottom: 50px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXX AUTRE PAGE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.container + section article{
	width: 100%;
}

}
