html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
main.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
background-image: url(../img/fond.png);}
main , header {
    background-color: white;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}
header {
    background-color: rgb(184 203 33);
    margin-bottom: 0;
    
}
.logog{
    margin-right: 10px;
    

}
nav {
    font-size: 1.3em;
    background-color: rgb(184 203 33);
    float: right;
    font-family: 'Oswald', sans-serif;
}
nav  {
    padding: 30px;
    margin-top: 20px;
}
nav a {
    color: rgb(15, 188, 15);
    padding: 20px;
}
main{
    margin-top: 0;
    clear: both;
}
h1 {
    margin: 0em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    color: rgb(131, 197, 38);

    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    clear: both;

}
img{
    width: 203px;
    float: left;
    
}

article {
    font-size: 16px;
}

.read {
float: right;
background-color: rgb(184 203 33);
text-align: center;
padding: 5px 15px ;
margin: 0px auto;
font-family: 'Oswald', sans-serif;
color: white;
font-size: 16px;
text-decoration: none;


}
ul {
    font-size: 16px;
}

footer {
clear: both;
font-size: 13px;
}

.p1 {
    display: block;
    padding-left: 150px;
}
.p2 {
    display: block;
    padding-left: 250px;
}
img.troiswa {
    width: 40px;
position: relative;
left: 50%;
}

.textb {
    padding-top: 50px;
}

