/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GLOBAUX XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

html {
    box-sizing: border-box;
    font-size: 62.5%
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
      background-image: url("../img/fond.png");
      font-family: 'Bree Serif', serif;
     

  }

.background h1::before, .backgroundh1::after, h2::before, h2::after{
    content: " - " ;
}
.background ~ section{
    max-width: 1100px;
    margin: 0 auto;
    
}
p {
    font-size: 1.8rem;
    line-height: 2em;
    color: rgb(146, 148, 148);;
    margin-bottom: 15px;

}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX HEADER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */
 header{
     display: flex;
     justify-content: space-evenly;
     padding:  50px 0px;
 }
 header a h1{
    display: inline;

 }
 header a  {
     font-size: 4rem;
     text-decoration: none;
     color: rgb(146, 148, 148);
 }
 header h1:hover{
     color: rgb(240, 43, 89);
 }
header img {
    width: 25%;
    height: auto;
    vertical-align: middle;
    margin-left: 40px;
    padding-right: 15px;
    transition: transform .2s;
}

header img:hover{
    transform: scale(1.3);
}
 
    


header nav a {
    font-size: 2.25rem;
    display: inline-block;
    margin: 0 50px;
    text-decoration: none;
    color: rgb(146, 148, 148);
    font-weight: normal;
    transition: all .2s ease-in-out;

}

header nav a:hover{
    color: rgb(240, 43, 89);
    transform: translate(0, 10px);
}

 nav i.fa{
    text-align: center;
    display: block;
    padding-bottom: 20px;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX MAIN XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX SECTION BACKGROUND IMG XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

.background {
    background-image: url("../img/bg_header.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 90px 90px 150px 90px;
    background-color: black;
    margin-bottom: 50px;
    width: 100%;

}

section h1 {
    color: white;
    font-size: 4rem;
    padding: 90px 0px 20px 0px;
    
}



.background p {
    color: white;
    padding: 40px 150px 70px 150px;
}

.background a {
    color: white;
    text-decoration: none;
    background-color: rgb(240, 43, 89);
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 10px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX MES COMPETENCES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */
section{
    text-align: center;
    
}
h2{
    font-size: 3.5rem;
    color: rgb(240, 43, 89);
    margin-top: 90px;
    margin-bottom: 70px;
    border-bottom: 1px solid rgb(244, 242, 242);
    padding-bottom: 20px;
    text-align: center;
}



section article figure{
    display: inline-block;
    margin: 0px 80px;

}

figcaption{
    font-size: 2.5rem;
    margin-top: 20px;
    color: rgb(181, 183, 183);
}

figure h3{
    font-size: 3rem;
    margin-top: 20px;
    color: rgb(146, 148, 148);
}

figure img:hover{
animation: piechart 0.5s;}

@keyframes piechart {
    from     { transform : rotate(0deg); }
    to       {  transform: rotate(360deg) }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX MES SERVICES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

/* Article MES SERVICES */
.background + section + section article {
     width: 29%;
     display: inline-block;
     margin: 0px 20px;
 } 
            /* ICON */
article i.fa.fa-coffee, i.fa.fa-flask, i.fa.fa-code {
    font-size: 3rem;
    color: rgb(146, 148, 148);
    border: 1px solid rgb(221, 222, 222);
    background-color: rgb(237, 241, 241);
    border-radius: 50%;
    padding: 20px;
    
}

i.fa.fa-coffee:hover,  i.fa.fa-flask:hover,  i.fa.fa-code:hover {
    animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce{
	from{
        transform :translateY(0);
    }
    to{
        transform :translateY(-30px);
    }
}



h4 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    color: rgb(240, 43, 89);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX EXEMPLES DE REALISATIONS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

/* section */
section:nth-last-child(2){
    text-align: left;
}

.floatright {
    width: 50%;
    float: right;
}

.floatleft{
    width: 50%;
    float: left;
    margin-right: 20px;

}

section article a {
    text-decoration: none;
    color: rgb(240, 43, 89);
    font-size: 1.5rem;
    padding-left: 30px;
    transition: all  0.7s;

}

i.fa.fa-plus-circle{
    padding: 5px;
    vertical-align: middle;
    font-size: 2rem;
}

section article a:hover{
    background-color: rgb(240, 43, 89);
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin-left: 15px;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX CONTACTEZ MOI XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

section:last-child{
    text-align: left;
}
section:last-child h2{ 

margin-bottom: 15px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX FORM XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

input[type="text"]{
    width: 49%;
    padding: 20px 0px;
    border-radius: 30px;
    border: 1px solid rgb(227, 224, 224);
    font-size: 1.6rem;
}

    /* PRENOM */
input[type="text"]:first-child{
    margin-right: 20px;
    background: url("../img/bg_form_name.svg") no-repeat ;
    background-position-x: 10px;
    background-position-y: 7px;
    background-size: 40px; 
    padding-left: 60px;

}

    /* MAIL */
input[type="text"]:nth-child(2){
    background: url("../img/bg_form_mail.svg") no-repeat ;
    background-position-x: 10px;
    background-position-y: 7px;
    background-size: 40px;
    padding-left: 60px;

}
textarea{
    background: url("../img/bg_form_message.svg") no-repeat;
    background-position-x: 10px;
    background-position-y: 7px;
    background-size: 40px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid rgb(227, 224, 224);
    padding: 15px 0px 5px 60px;
    margin-top: 20px;
    font-size: 1.6rem;
}


form{
    text-align: center;

}
input[type="submit"],input[type="reset"]{
    margin: 30px 0px;
    font-size: 1.6rem;
    padding: 15px 30px;
    color: white;
}
input[type="reset"]{
    background: rgb(152, 152, 152);
}

input[type="submit"]{
    background: rgb(240, 43, 89);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX FOOTER XXXXXXXXXXXXXXXXXXXXXXXXX */
footer {
    text-align: center;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX !! MEDIA QUERIES 1200PX !! XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

@media screen and (max-width: 1200px){

        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEADER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    
    header  {
        display: flex;
        flex-direction: column;
        text-align: center;     
        padding: 0px;   
    }
    header nav a {
        
        margin: 50px 0px 70px 0px;
        padding: 0px 50px;
    }
    header a h1 {
        margin-top: 10px;
        display: block;
        padding-left: 20px;
    }

    header img {
        width: 20%;
        margin-bottom: 15px;
    }
        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX EXEMPLES DE REALISATIONS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    .background{
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .background h1{
        padding-top: 150px;
        line-height: 7rem;
        padding-bottom: 15px;
        
    }
    .background p {
        padding-left: 10px;
        padding-right: 10px;
    }
            /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX MES COMPETENCES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    section article figure{
        display: block;
        margin-bottom: 80px;
    }
        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX MES SERVICES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    .background + section + section article{
        margin: 0 auto;
        display: block;
        margin-bottom: 90px;
        width: 90%;
    }
    
            /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX EXEMPLES DE REALISATIONS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    section:nth-last-child(2){
        margin-left: 35px;
        margin-right: 35px;

    }
    .floatright {
        margin-left: 15px;
    }
        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX CONTACTEZ MOI XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


    section:last-child{
        margin-right: 35px;
        margin-left: 35px;
    }
    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX FORM XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    input[type="text"]:first-child{
        margin-left: 0px;
        
    
    }
    
        
    textarea{
    margin-left: 5px;
    }

    input[type="text"]{
    width: 48%;
    
    }

    
}
        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX !! MEDIA QUERIES 720 PX !! XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 980px){
    
           /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEADER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    header{
        margin-top: 70px;
    }
    header nav a{
        display: block;
    }
    header img {
        width: 15%;
    }
        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX BACKGROUND IMG XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
    
    .background{
        padding: 200px 0px;
    }
    .background p {
        width: 100%;
        margin: 0 auto;
    }


    .background + section + section article{
        width: 45%;
    }

        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX MES SERVICES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

        article i.fa.fa-coffee, i.fa.fa-flask, i.fa.fa-code {

            padding: 40px;
            margin-bottom: 20px;
        }




        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX EXEMPLES DE REALISATIONS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

        section:nth-last-child(2) p {
            margin: 15px 5px 20px 5px;
        }
    .floatleft, .floatright{
        width: 100%;        
        float: none;
        margin: 0px;
    }
    
        /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX CONTACTEZ MOI XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    section:last-child{
        margin: 0 auto;
        width: 80%;
    }
    /* XXXXXXXXXXXXXXXXXXXXXXXXXXXX FORM XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
    input[type="text"]{
        width: 100%;
        margin: 5px 0px;
    }
    textarea{
        margin: 0;
    }
}